# build output
target
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/


# Rust build artifacts
/target/
**/*.rs.bk

# Cargo package manager files
Cargo.lock
Cargo.toml.orig

# Rust coverage and test output
/coverage/
/*.profraw

# Rust language server and IDE files
.rls/
.rustup/
rustfmt.toml
.clippy.toml

# VS Code settings
.vscode/

# Misc
*.log
*.swp
*.swo

# Test
amanahacademia.code-workspace
develop

# Claude
.claude

# Claudflare
.wrangler