---
import IconCheck from "@/assets/check.svg";
---

<div class="text-center h-96 m-4 bg-[--color-light-brown] rounded-xl py-10 px-5">
  <h2 class="text-[--color-red]">Básico</h2>
  <p class="text-xs">Perfecto para comenzar el aprendizaje</p>
  <p>15€<span>/clase</span></p>
  <ul class="p-10 text-start text-xs">
    <li class="flex my-2"><IconCheck />Clases individuales de 1 hora</li>
    <li class="flex my-2"><IconCheck />Acceso a provesores certificade</li>
    <li class="flex my-2"><IconCheck />Material de apoyo básico</li>
    <li class="flex my-2"><IconCheck />Reserva flexible de horarios</li>
    <li class="flex my-2"><IconCheck />Soporte email</li>
  </ul>
  <button class="bg-[--color-salmon] rounded-md py-3 px-10 text-[--color-white] font-semibold">Reservar Clase</button>
</div>
