---
import LikeIcon from "@/assets/like.svg";
import CommentIcon from "@/assets/coment.svg";
const { name, fecha } = Astro.props;
---

<div class="bg-[--color-light-salmon] w-96 m-3 p-2 rounded-md">
  <div class="p-5"><img src="" alt="" /><div><p>{name}</p> <p class="text-xs">{fecha}</p></div></div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum labore voluptatibus quo soluta id aut dolores dolorem
    eius veritatis, error unde veniam esse reprehenderit adipisci voluptates, vitae ratione! Corporis, id!
  </p>
  <div class="flex justify-end">
    <LikeIcon />
    10K
    <CommentIcon />
    10K
  </div>
</div>
