<div class="bg-[--color-light-salmon] w-96">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum labore voluptatibus quo soluta id aut dolores dolorem
  eius veritatis, error unde veniam esse reprehenderit adipisci voluptates, vitae ratione! Corporis, id!
  <div>
    <!-- 2scg -->
  </div>
</div>
