---
import IconCheck from "@/assets/check.svg";

interface CardPracing {
  title: string;
  subtitle: string;
  content: string[];
}

const { title, subtitle, content } = Astro.props as CardPracing;
---

<div class="text-center min-h-96 m-4 bg-[--color-smooth-brown] rounded-xl py-10 px-5 flex flex-col justify-between">
  <div>
    <h2 class="font-semibold text-[--color-red]">{title}</h2>
    <p class="text-xs px-5">{subtitle}</p>
    <h3 class="font-semibold text-[--color-red] my-5 text-lg">15€<span class="text-sm">/clase</span></h3>
    <ul class="text-start text-xs">
      {
        content.map((item) => (
          <li class="flex my-2 gap-x-2">
            <IconCheck />
            {item}
          </li>
        ))
      }
    </ul>
  </div>
  <button class="bg-[--color-salmon] rounded-md py-3 px-5 xl:px-10 text-[--color-white] font-semibold"
    >Reservar Clase</button
  >
</div>
