---
import CardComment from "@/components/CardComment.astro";
import StarGroup from "./StarGroup.astro";
import Stadistics from "./Stadistics.astro";
---

<div class="mt-10 lg:mt-0 mb-20 flex flex-col lg:flex-row m-auto w-full 2xl:w-3/4 justify-center">
  <div class="m-auto">
    <div class="text-center">
      <p class="text-7xl font-bold">3.75</p>
      <StarGroup star={4} />
    </div>
    <h5 class="text-[--color-red] ml-3">Comentarios con mas me gusta</h5>
    <div>
      <CardComment name="ana.banana" fecha="12 ago 2025" />
      <CardComment name="carmen_ortega" fecha="15 apr 2023" />
    </div>
  </div>
  <div class="p-10 mx-5 bg-[--color-brown] rounded-2xl w-80 mt-20 lg:mt-0 self-center">
    <h5 class="text-[--color-salmon] text-xl font-semibold">Elementos de evaluacion</h5>
    <Stadistics title="Profesionalismo" percentage="70" />
    <Stadistics title="Eficiencia" percentage="50" />
    <Stadistics title="Respuesta de tiempo de los servicios" percentage="90" />
    <Stadistics title="Tiempo de contacto administrativo" percentage="60" />
    <Stadistics title="Satisfacción del usuario" percentage="89" />
  </div>
  <div class="m-auto flex flex-col justify-center items-center">
    <button
      class="bg-[--color-brown] hover:bg-[--color-salmon] transition-colors duration-300 rounded-lg text-white text-xl font-semibold w-56 mt-20 lg:mt-32 py-3 px-6 shadow-lg hover:shadow-xl transform hover:scale-105 transition-all duration-200"
    >
      Comentar
    </button>
    <div class="mt-8">
      <CardComment name="carlos.vasquez" fecha="12 ago 2025" />
      <CardComment name="gillermo.duran" fecha="12 ago 2025" />
      <CardComment name="miguel.perez" fecha="12 ago 2025" />
    </div>
  </div>
</div>
