---
import CardComment from "@/components/CardComment.astro";
---

<div id="stars">
  <p>3.75</p>
</div>
<h5>Comentarios con mas me gusta</h5>
<div>
  <CardComment />
  <CardComment />
</div>
<h5>Elementos de evaluacion</h5>
<div>
  <div>Profesionalismo</div>
  <div>Eficiencia</div>
  <div>Respuesta de tiempo de servicios</div>
  <div>Tiempo de contacto adminsitrativo</div>
  <div>Satisfación de usuario</div>
</div>
<div>
  <button>Comentar</button>
  <div>
    <CardComment />
    <CardComment />
    <CardComment />
  </div>
</div>
