<img
  src="coffe.png"
  alt=""
  class="absolute w-full md:w-3/12 h-96 md:h-72 right-0 top-24 md:top-0 md:rounded-bl-2xl object-cover"
/>
<img src="coffe.png" alt="" class="hidden md:block absolute w-28 h-28 left-[440px] top-14 rounded-full object-cover" />
<img src="coffe.png" alt="" class="hidden md:block absolute w-80 h-80 left-10 top-30 rounded-full object-cover" />
<h2
  class=`mt-24 text-center px-10 pb-1 text-[--color-red] font-bold text-2xl absolute left-40 md:left-28 -top-20 md:top-28`
>
  Contacto
</h2>
<div class=`bg-[--color-salmon] w-20 md:w-28 h-1 m-auto mb-10 absolute top-12 md:top-60 left-52 md:left-36`></div>
<div
  class="ml-0 md:ml-72 lg:ml-[500px] py-10 flex flex-col items-start md:border-2 md:border-gray-500 md:rounded-l-3xl mb-20"
>
  <form action="" class="flex flex-col z-10 pl-10">
    <label for="name" class="my-5">
      Name <br />
      <input type="text" class="bg-transparent border-b-2 border-gray-500 w-96" />
    </label>
    <label for="name" class="my-5">
      Asunto
      <br />
      <input type="text" class="bg-transparent border-b-2 border-gray-500 w-96" />
    </label>
    <label for="name" class="my-5">
      Message<br />
      <input type="text" class="bg-transparent border-b-2 border-gray-500 w-96" />
    </label>
  </form>
  <button
    class="text-white bg-[--color-salmon] w-3/4 m-auto md:m-0 md:ml-10 md:w-96 font-semibold rounded-xl mt-40 md:mt-10 p-3"
    >Contactar</button
  >
</div>
