<img src="coffe.png" alt="" class="absolute w-3/12 h-70 right-0 top-0 rounded-bl-2xl" />
<img src="coffe.png" alt="" class="absolute w-32 h-32 left-[440px] top-14 rounded-full object-cover" />
<img src="coffe.png" alt="" class="absolute w-80 h-80 left-10 top-30 rounded-full object-cover" />
<h2 class=`mt-24 text-center px-10 pb-1 text-[--color-red] font-bold text-2xl absolute left-28 top-28`>Contacto</h2>
<div class=`bg-[--color-salmon] w-28 h-1 m-auto mb-10 absolute top-60 left-36`></div>
<div class="ml-[500px] pl-10 py-10 flex flex-col items-start border-2 border-gray-500 rounded-l-3xl mb-20">
  <form action="" class="flex flex-col">
    <label for="name" class="my-5">
      Name <br />
      <input type="text" class="bg-transparent border-b-2 border-gray-500" />
    </label>
    <label for="name" class="my-5">
      Asunto
      <br />
      <input type="text" class="bg-transparent border-b-2 border-gray-500" />
    </label>
    <label for="name" class="my-5">
      Message<br />
      <input type="text" class="bg-transparent border-b-2 border-gray-500" />
    </label>
  </form>
  <button class="text-white bg-[--color-salmon] w-40 font-semibold rounded-xl mt-10 p-3">Contactar</button>
</div>
