<div class="h-5 w-7 group lg:hidden">
  <div class="h-1 w-full bg-black group-hover:bg-[--color-salmon]"></div>
  <div class="h-1 w-full bg-black my-1 group-hover:bg-[--color-salmon]"></div>
  <div class="h-1 w-full bg-black group-hover:bg-[--color-salmon]"></div>
</div>
