---
import type { HomeI18n } from "@/types/types";
import AboutUs from "./AboutUs.astro";

const data = Astro.props.data as HomeI18n;
---

<main>
  <section>
    <h1 class="text-center px-10 pt-10 pb-1 text-[--color-red] font-bold text-5xl">Amanah Academia</h1>
    <div class="bg-[--color-salmon] h-2 m-auto mb-10 w-80 mt-1"></div>
    <div class="w-full h-96 overflow-hidden">
      <img src="/img/desert.webp" alt="" class="w-full" />
    </div>
  </section>
  <AboutUs data={data} />
</main>
