---
import type { HomeI18n } from "@/types/types";
import AboutUs from "./AboutUs.astro";

const data = Astro.props.data as HomeI18n;
---

<section class="relative scroll-fade-in">
  <div
    class="absolute top-0 left-0 w-full h-full overflow-hidden rounded-none shadow-[0_0_10px_0_rgba(255,120,60,0.5)] m-0 p-0 z-0"
  >
    <img src="/img/banner.webp" alt="" class="w-full h-full object-cover object-top m-0 p-0" />
    <div
      class="absolute inset-0 pointer-events-none"
      style="background: radial-gradient(circle at center, rgba(255,120,60,0.35) 0%, transparent 70%);"
    >
    </div>
  </div>
  <h1 class="text-center px-10 pt-20 pb-1 text-red font-bold text-5xl select-none font-jomolhari z-20 relative">
    Amanah Academia
  </h1>
  <div class="bg-salmon h-2 m-auto mb-10 w-80 mt-1 z-20 relative"></div>
  <h2 class="text-center m-10 text-red font-semibold font-jomolhari z-20 relative pb-20">
    Del primer hola a todo un mundo, academia de Español
  </h2>
</section>
<AboutUs data={data} />
