<div>
  <div class="my-10">
    <div>Profesionalismo</div>
    <div class="bg-[--color-salmon] flex justify-center items-center rounded-lg p-3">
      <div class="bg-black h-3 w-full relative mx-2 rounded-md">
        <div class="bg-red-600 h-3 absolute top-0 left-0"></div>
      </div><p class="text-white">70%</p>
    </div>
  </div>
</div>
