---
const { sizeText, sizeLine, sizeWidth } = Astro.props;
---

<h2 class=`mt-10 lg:mt-24 text-center px-10 pb-1 text-[--color-red] font-bold ${sizeText}`><slot /></h2>
<div class=`bg-[--color-salmon] ${sizeWidth} h-1 m-auto mb-10 ${sizeLine}`></div>
