---
const { title, sizeText, sizeLine } = Astro.props;
---

<h2 class=`text-center px-10 pt-10 pb-1 text-[--color-red] font-bold ${sizeText}`>{title}</h2>
<div class=`bg-[--color-salmon] w-40 h-1 m-auto mb-5 ${sizeLine}`></div>
