---
const { sizeText, sizeLine, sizeWidth } = Astro.props;
---

<h2 class=`select-none mt-10 lg:mt-24 text-center px-10  text-[--color-red] font-bold ${sizeText}`>
  <slot />
</h2>
<div class=`bg-salmon ${sizeWidth} h-1 m-auto mb-10 ${sizeLine}`></div>
