---
import type { FooterI18n } from "@/types/types";
import PhoneIcon from "@/assets/phone.svg";
import GmailIcon from "@/assets/gmail.svg";
import InstagramIcon from "@/assets/instagram.svg";
import ArrowIcon from "@/assets/arrow.svg";

const data = Astro.props.data as FooterI18n;
---

<div
  id="backToTop"
  class="fixed bottom-20 right-8 w-14 h-14 bg-salmon hover:bg-lightSalmon text-white rounded-full flex items-center justify-center shadow-lg cursor-pointer transition-all duration-300 hover:-translate-y-1 opacity-0 invisible"
>
  <ArrowIcon height={25} />
</div>
<footer class="text-xs md:text-sm">
  <div class="bg-brown w-full h-28 flex justify-between items-center px-3 md:px-8 text-gray-100">
    <div class="w-42">
      <ul>
        <li class="flex">
          <PhoneIcon />
          <a class="px-1" href="tel:+34644502077">+34 644 502 077</a>
        </li>
        <li class="flex">
          <GmailIcon />
          <a class="px-2" href="mailto:anaortegagutierrez99@gmail.com">support@amanahacademia.com</a>
        </li>
        <li class="flex">
          <InstagramIcon />
          <a href="https://www.instagram.com/amanahacademia" class="px-2" target="_blank" rel="noopener noreferrer"
            >@amanahacademia</a
          ><br />
        </li>
      </ul>
    </div>
    <p class="text-[8px] md:text-sm text-center px-2">© Amanah Academia 2025</p>
    <div>
      <ul>
        <li><a href="/info">{data.license}</a></li>
        <li><a href="/info">{data.privacy_policy}</a></li>
        <li><a href="/info">{data.terms_of_service}</a></li>
      </ul>
    </div>
  </div>
</footer>
