---
import { log } from "@/services/logger";
import UserInfoPanel from "../UserInfoPanel.astro";
import { ApiService } from "@/services/helper";
import type { ResponseAPI, Booking, StripeRelation } from "@/types/bakend-types";

const helper = new ApiService();

const token_cookie = Astro.cookies.get("session")?.value ?? "";
if (!token_cookie) log.error("Deves iniciar sessión primero");

let response: ResponseAPI<StripeRelation[]> = await helper.getAllConnections(token_cookie);

if (!response.success) {
  log.error(`Error al obtener las reservas pagadas: ${response.error}`);
  return;
}
// Crear todas las promesas
const bookingPromises = Object.keys(response.data).map((id) => helper.getBookingById(token_cookie, id));

// Ejecutar todas en paralelo
const bookingResponses: ResponseAPI<Booking>[] = await Promise.all(bookingPromises);

// Filtrar solo las exitosas
const listOfClass: Booking[] = bookingResponses
  .filter((response): response is { success: true; data: Booking } => {
    if (!response.success) {
      log.error(response);
      log.error(`Error al obtener booking: ${response.error}`);
      return false;
    }
    return true;
  })
  .map((response) => response.data);
---

<section>
  <h1 class="text-red text-4xl font-bold my-10">Profesores y Estudiantes</h1>
  {listOfClass.map((e: Booking) => <UserInfoPanel booking={e} iconType="users" />)}
</section>
