---
const { colourRectangle } = Astro.props;
---

<div class="bg-lightSalmon p-5 rounded-md m-auto md:m-3 w-96 md:w-full text-center">
  <div class=`${colourRectangle} w-10 h-10 rounded-full flex items-center justify-center m-auto`>
    <slot name="icon" />
  </div>
  <h4 class="p-3 text-red font-semibold"><slot name="title" /></h4>
  <p class="text-sm">
    <slot name="description" />
  </p>
</div>
