---
import PersonIcon from "@/assets/person.svg";
import type { AvatarProps } from "@/types/types";

const info = Astro.props.info as AvatarProps | null;
const server = Astro.props.server ?? true;
---

<div class="flex-shrink-0" id="avatar-container">
  {
    !server ? (
      // Si renderizas desde el cliente (no SSR)
      <>
        <img src="" alt="" class="avatar-img w-8 h-8 rounded-full object-cover" style="display:none" />
        <div id="avatar-default" class="flex items-center justify-center w-8 h-8 rounded-full bg-gray-200">
          <PersonIcon class="w-4 h-4 text-gray-800" />
        </div>
      </>
    ) : info?.url_img ? (
      // Si hay foto desde el servidor
      <img src={info.url_img} alt={`Avatar de ${info.name}`} class="w-8 h-8 rounded-full object-cover" loading="lazy" />
    ) : (
      // Si no hay foto, usar UI Avatars
      <img
        src={`https://ui-avatars.com/api/?name=${info?.name ?? "Usuario"}&background=fe9090&color=b2443a&size=96&rounded=true`}
        alt={`Avatar de ${info?.name ?? "Usuario"}`}
        class="w-8 h-8 rounded-full object-cover"
        loading="lazy"
      />
    )
  }
</div>

<style>
  #avatar-container img {
    display: block;
  }
</style>
