---
import ThemeIcon from "@/assets/theme.svg";
---

<!-- Agregar id al componente -->
<div id="theme" class="cursor-pointer">
  <ThemeIcon />
</div>

<script>
  import { Theme } from "@/enums/enums";
  import { applyTheme } from "@/utils/cookie";

  document.addEventListener("DOMContentLoaded", () => {
    const themeButton = document.getElementById("theme");

    // Toggle desde el botón del UI
    if (themeButton) {
      themeButton.addEventListener("click", () => {
        const current: Theme = document.documentElement.classList.contains(Theme.DARK) ? Theme.DARK : Theme.LIGHT;
        const newTheme: Theme = current === Theme.DARK ? Theme.LIGHT : Theme.DARK;
        applyTheme(newTheme);
      });
    }
  });
</script>
