---
const { customStyleText, customStyleLine } = Astro.props;
---

<h2 class=`font-jomolhari select-none mt-5 text-center px-10  text-red font-bold ${customStyleText} `>
  <slot />
</h2>
<div class=`bg-salmon  h-1 m-auto ${customStyleLine}`></div>
