---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import type { i18nTranslations } from "@/types/types";

const data = Astro.props.data as i18nTranslations;
const { lang } = Astro.params;
---

<div class="min-h-screen flex flex-col">
  <!-- Header -->
  <Header data={data.header} lang={lang} />
  <!-- Contenido Principal -->
  <main class="flex-1">
    <slot />
  </main>
  <!-- Footer -->
  <Footer data={data.footer} />
</div>
