---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Main from "@/components/Main.astro";

const { data } = Astro.props;
---

<div class="min-h-screen w-full bg-background">
  <Header info={data.header} />
  <Main />
  <Footer />
</div>
