---
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import type { I18nTranslations } from "@/types/types";

const data = Astro.props.data as I18nTranslations;
const { lang } = Astro.params;
---

<div class="min-h-screen flex flex-col">
  <!-- Header -->
  <Header data={data.header} lang={lang} />
  <!-- Contenido Principal -->
  <main class="flex-1 py-20">
    <slot />
  </main>
  <!-- Footer -->
  <Footer data={data.footer} />
</div>
