---
import App from "@/layouts/App.astro";
import { getI18N } from "@/../i18n/index";
import Layout from "@/layouts/Layout.astro";
import CoursesPage from "@/components/Courses.astro";

// Obtenemos el idioma obtenido mediante la ruta
const { lang } = Astro.params;
const data = getI18N({ lang });

export async function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "fr" } },
    { params: { lang: "de" } },
    { params: { lang: "it" } },
    { params: { lang: "pt" } },
    { params: { lang: "ar" } },
  ];
}
---

<Layout>
  <App data={data}>
    <main>
      <CoursesPage data={data.main} />
    </main>
  </App>
</Layout>
